  <%= form_with model: [ article, article.comments.build ] do |form|%>
      <div class="comment__form__container">
        <p>
          <% form.label :commenter, class:"comment__form__label" %>
          <%= form.text_field :commenter, class:"comment__form__input__field", placeholder: "Your name" %>
        </p>
        <p>
          <% form.label :body, class:"comment__form__label" %>
          <%= form.text_area :body, class:"comment__form__input__field text-area", placeholder: "Type your comment here" %>
        </p>
      </div>
      <p>
        <%= form.submit class: "button" %>
      </p>
  <% end %>
